* {
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  font-size: 16px;
  margin: 0px;
}

#custom-sep {
    margin: 0px;
}

/* capsules */

.modules-left,
.modules-center,
#tray,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#wireplumber,
tooltip
{
  background-color: rgba(30, 33, 39, 0.05);
  border: 3px solid darkorange;
  border-radius: 16px;
  padding: 0px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0px 4px 0px
}

/* left capsules */
#memory
{
  margin-right: 0px;
  border-radius: 18px 0px 0px 18px;
  border-right-width: 1px;
}

/* mid capsules */
#cpu
{
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
}

/* right capsules */
#temperature
{
  margin-left: 0px;
  border-radius: 0px 18px 18px 0px;
  border-left-width: 1px;
}

tooltip {
  background-color: #557
}

